body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-link {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.site-link:hover {
    background-color: #333;
    color: #f4f4f4;
}

/* Antoine */

.work {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.button {
  padding: 20px 40px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.0); /* Add a subtle shadow */
}

.button:hover {
  background-color: #03dec0;
  transform: translateY(-20px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.text {
  margin-right: 50px;
  margin-bottom: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 2vw;
}

.text h1 {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1;
}

.blue {
  color: #03dec0;
}

img {
  max-width: 100%;
  height: auto;
}

/* Lubin */

.lubin {
    background-color: rgb(43, 43, 43);
    border-radius: 20px;
    padding: 20px 20px;
    margin: 20%;
    color: white;
}

.lubin p {
    margin-bottom: 30px;
}

.button-lubo {
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-size: 10;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

/* Responsive Styles */
@media screen and (max-width: 1100px) {
    .work {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
  .text {
    margin-right: 0;
    font-size: 4vw;
    margin-bottom: 2vw;
  }

  .resp {
    margin: 20px;
  }

  .button {
    margin-top: 20px;
    font-size: 2vw;
    padding: 2vw 4vw;
  }
}
