body {
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: white;
}

/* NAV BARRE */

nav {
  width: 100%;
  background-color: rgba(255,255,255,0.7);
  top: 0;
  position: fixed;
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  z-index: 10;
  transition: 2s background-color;
}

.nav_in {
  margin: auto;
  max-width: 980px;
  height: 100%;
  background-color: none;
  padding: 0px 22px;
}

nav .nav_in p {
  float: right;
  margin-right: 20px;
  font-size: 15px;
  margin-top: 18px;
}

nav .nav_in .a {
  text-decoration: none;
  color: black;
  opacity: 0.7;
}

nav .a:hover {
  text-decoration: none;
  opacity: 1;
}

nav .nav_in h1 {
  font-size: 21px;
  margin: 0;
  display: flex;
  line-height: 1.14286;
  display: block;
  float: left;
  margin: 14px -14px;
  padding: 0;
  font-weight: 500;
  opacity: .91;
}

.svg_h1 {
  width: 20;
  height: 20;
}

.nav_icon {
  width: auto;
  height: 30px;
  margin-top: 10px;
  margin-right: 20px;
}

/* NAV MENU PHONE */

.menu-anime {
  position: absolute;
  width: 100%;
  left: 0;
  top: 52px;
  position: fixed;
  z-index: 50;
  transition: 1.5s height, 1s background-color;
  overflow: hidden;
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  background-color: rgba(255,255,255,0.7);
}

.menu-anime p {
  text-align: center;
}

.menu-anime a {
  text-decoration: none;
  color: black;
}


/* FIN NAV BARRE */

@media screen and (max-width: 800px) {

  /* NAV PHONE */

  .a {
    display: none;
  }
  nav .nav_in h1 {
    font-size: 17px;
    margin: 17px -14px;
  }

  /* NAV PHONE */

  .mr-50 {
    margin-right: 20px;
  }
  .w-500 {
    width: 300px;
  }
}

/* FOOTER */

footer {
  background-color: black;
  justify-content: center;
  margin-top: 50px;
  padding: 70px 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

/* News */

.news {
  color: white;
}

.news h1 {
  margin-top: 0;
}

.news p {
  opacity: 0.7;
}

#news {
  background-color: rgba(0, 0, 0, 0);
  border: solid;
  border-width: 1px;
  padding: 10px;
  border-color: #3f3f3e;
  color: white;
  max-width: 320px;
  transition: border-color 1s;
}

#news:hover {
  border-color: white;
}

#news:focus {
  outline: none;
}

.news button {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: #3f3f3e;
  border-color: #3f3f3e;
  border: solid;
  border-width: 1px;
  cursor: pointer;
  transition: color 1s, border-color 1s;
  width: 100px; 
}

.news button:hover {
  color: white;
  border-color: white;
}

/* Contact */

.contact p{
  color: white;
  opacity: 0.5;
  margin-top: 0;
}

/* LINKS */

.links-icon-container {
  display: flex;
  align-items: center;
}

.links-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  padding: 10px;
  border-radius: 50%;
  opacity: 0.5;
  transition: transform 0.5s, opacity 0.5s;
}

.links-icon:hover {
  transform: scale(1.1);
  opacity: 1;
}

.mg-l {
  margin-left: 20px;
}

/* FIN LINKS ICONS */

/* LINKS */

.links-container {
  padding: 0px 50px;
  display: flex;
  justify-content: center;
  color: white;
  gap: 20px;
  flex-wrap: wrap;
}

.links h1 {
  font-size: 18px;
  opacity: 0.7;
  margin-top: 0;
}

.links a {
  text-decoration: none;
  color: white;
  opacity: 0.5;
  transition: opacity 1s;
}

.links a:hover {
  opacity: 1;
}

/* Fin FOOTER */

/* FORMAT PHONE */

@media screen and (min-width:  800px){
  .menu-anime {
    display: none;
  }
}

@media screen and (max-width: 800px) {

  /*footer*/
  footer {
    padding: 20px;
  }

  .links-container {
    justify-content: initial;
  }
  .news h1 {
    margin-top: 50px;
  }
  .contact {
    margin-bottom: 50px;
  }
}
